html {
    /* Firefox対応 */
    scrollbar-color: #7EA1C0 #35526C;
    scrollbar-width:calc(16px)
}

/* Chrome, Safari 対応 */
html::-webkit-scrollbar {
  width: 16px; /* スクロールバーの幅 */
}

html::-webkit-scrollbar-track {
  background: #35526C; /* トラック部分の色 */
}

html::-webkit-scrollbar-thumb {
  background-color: #7EA1C0; /* スクロールするつまみ部分の色 */
  border-radius: 5px;
  /* border: 2px solid #eee; つまみの内側に余白っぽく */
  border: 0;
}

::selection {
  background: #5881A6;
}

::-moz-selection {
  background: #5881A6;
}



body {
    font-family: 'Noto Sans JP', sans-serif;
    background: #4D6A84;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}


a {
    color: inherit;
    text-decoration: none;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    top: 0;
    z-index: 100;
    background: #527292;
    width: 100%;
    height: 64px;
}

header p {
    color: #FFF;
    font-size: 24px;
    padding-left: 14px;
}

@media (max-width: 1024px) {
    header p {
        font-size: 20px;
        padding-left: 8px;
    }
}



header #hamburger-wrap {
    display: none;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background: #2B455C;
    cursor: pointer;
}

.hamburger {
    display: none;
    flex-direction: column;
    width: 28px;
    height: 22px;
    justify-content: space-between;
}

.hamburger span {
    height: 2px;
    background-color: white;
    border-radius: 2px;
    transition: 0.4s;
}

/* ✕ のアニメーション */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

@media (max-width: 1024px) {
    header {
        height: 56px;
    }

    header #hamburger-wrap {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}




aside {
    position: fixed;
    margin: 64px 0 0 0;
    top: 0;
    background: #35526C;
    width: 256px;
    height: calc(100vh - 64px);
    overflow: auto;

    /* Firefox対応 */
    scrollbar-color: #7EA1C0 #35526C;
    scrollbar-width:calc(16px)
}

@media (max-width: 1024px) {
    aside {
        display: none;
    }

    #menu-area.show {
        display:block;
        width: 100%;
        height: 100%;
        /* opacity: 0.8; */
        z-index: 100;
        margin-top: 56px;
    }
}

/* Chrome, Safari 対応 */
aside::-webkit-scrollbar {
  width: 16px; /* スクロールバーの幅 */
}

aside::-webkit-scrollbar-track {
  background: #35526C; /* トラック部分の色 */
}

aside::-webkit-scrollbar-thumb {
  background-color: #7EA1C0; /* スクロールするつまみ部分の色 */
  border-radius: 5px;
  /* border: 2px solid #eee; つまみの内側に余白っぽく */
  border: 0;
}

aside nav {
    margin-top: -4px;
    color: #FFF;
}

@media (max-width: 1024px) {
    aside nav {
        padding-bottom: 96px;
    }
}

aside nav .menu-group-wrap {
    margin-top: 40px;
}

aside nav .menu-group-wrap .title {
    margin: 0 0 22px;
    padding-left: 8px;
}

aside nav .menu-group-wrap .title h2 {
    font-size: 14px;
    font-weight: bold;
}


aside nav .menu-group-wrap ul {
    padding: 0;
}

aside nav .menu-group-wrap li {
    margin: 0 0 24px;
    padding: 0 0 0 8px;
    list-style: none;
}

aside nav .menu-group-wrap a {
    color: #F0F1F2;
    font-size: 16px;
    font-weight: normal;
    transition: 0.2s;
}

aside nav .menu-group-wrap a:hover {
    color: #FF9B59;
}

aside nav .menu-group-wrap ul .link-selected a {
    color: #FF9B59;
}





main {
    position: relative;
    margin-left: 256px;
    /* padding-left: calc(50vw - 512px); */
    padding: 64px 56px 0;
    max-width: 768px;
    background: #4D6A84;
}

@media (max-width: 1024px) {
    main {
        margin: 0;
        padding: 56px 4px 0 4px;
    }
}

article {
    margin-right: 16px;
}

article .title-area {
    padding-top: 64px;
    /* margin-right: 16px; */
}

article .content-area {
    /* margin-right: 16px; */
}

article h1 {
    font-size: 40px;
    color: white;
    font-weight: normal;
}

article .about-text {
    margin-top: 40px;
    font-size: 20px;
    color: white;
}

main article hr {
    margin: 96px 0 0;
}

article h2 {
    margin-top: 72px;
    font-size: 24px;
    color: white;
    letter-spacing: 0.02em;
}

article h2::first-letter {
    letter-spacing: 0.12em;
}

article img {
    margin-top: 36px;
    padding: 14px;
    width: 740px;
}


main hr {
    margin-top: 112px;
}


@media (max-width: 1024px) {
    article {
        margin-right: 8px;
    }

    article .title-area {
        padding-top: 40px;
        /* margin-right: 16px; */
    }

    article h1 {
        font-size: 28px;
    }

    article .about-text {
        margin-top: 16px;
        font-size: 16px;
    }

    main article hr {
        margin: 56px 0 0;
    }

    article h2 {
        margin-top: 56px;
        font-size: 20px;
    }

    article h2:nth-of-type(1) {
        margin-top: 32px;
    }

    article img {
        margin-top: 8px;
        margin-bottom: 10px;
        padding: 4px;
        width: 88%;
    }


    main hr {
        margin-top: 64px;
    }
}



footer {
    width: 100%;
    height: 144px;
    background: #4D6A84;
}

footer .page-link-area {
    margin: 16px 4px 0;
    display: flex;
    justify-content: space-between;
}

footer .page-link {
    padding: 12px 4px;
}

footer .page-link p {
    transition: 0.2s;
}

footer .page-next-link p {
    text-align: right;
}

footer .page-link p {
    color: white;
}

footer .page-link .mark {
    font-size: 14px;
    padding: 0 2px;
}

footer .page-link .name {
    margin-top: 4px;
    font-size: 18px;
    color: #F0F1F2;
}

footer .page-link:hover p.name {
    color: #FF9B59;
}

@media (max-width: 1024px) {
    footer {
        height: 120px;
    }

    footer .page-link-area {
        margin: 4px 0 0;
    }

    footer .page-link {
        padding: 8px;
    }

    footer .page-link .mark {
        font-size: 12px;
    }

    footer .page-link .name {
        font-size: 17px;
    }
}